body, html{
    height: 50px;
    background-color:greenyellow;
}

nav{
    background-color: rgb(255, 217, 0);
    margin-bottom: 0px;
}

#bottom-grid{
    display: grid;
    height: 350px;
    padding-top: 50px;
    background-color: rgb(255, 255, 128, .5);
    grid-template-columns: 20% 75%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "map bottom-grid"
    "map location-grid"
    "map location-grid";
}